<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    
    <!-- <div id="app">
        <p>{{ message }}</p>
        <p>{{ brand }}</p>
        <input v-model="brand">
        <p style="height: 10px;"></p>
        
        <button v-on:click="counter += 1">增加 1</button>
        <p>这个按钮被点击了 {{ counter }} 次。</p>
        <p v-if="seen">Never gonna give you up</p>
        <button v-on:click= "seen = !seen">display</button>
    </div> -->
    <div id="app" >

    </div>
    <script>
        new Vue({
            el:'#app' ,
            data:{
                brand
            }
        })
    </script>
    <!-- <script>
        new Vue({
            el:'#app',
            data:{
                message: 'Fender',
                brand: 'gibson',
                
                counter: 0 ,
                seen: true
            },
            

        }
        )
    </script> -->
</body>
</html>